/* Will be compiled down to a single stylesheet with your sass files */
body {
    background: no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
    position: relative;
}

h1,h2 {
	font-weight: 100;
	text-shadow: 0 0 5px #000;
	color: #fff;
}

#product-list {
	list-style: none;
	padding: 20px 0;
}

.product_item {
	margin: 5px 0 5px 0;
}

.product_item.media {
	margin-top: 0;
}

.product_item span {
	font-weight: 100;
	margin: 0 10px;
	text-shadow: 1px 1px 12px #000;
	filter: dropshadow(color=#000, offx=1, offy=1);
	color: #fff;
}

#product-list img {
    height: 50px;
}

#product-information {
    position: absolute;
    top: 20px;
    right: 20px;
}
